
<div class="container">
    <h3 style="color:#eee" class="mt-5 mb-5 text-center">Witaj @ViewBag.Imie</h3>
    <h4 style = "color: #ff6a00" class="text-center">@ViewBag.Warning</h4>
    <div class="container mb-5">
        <div class="row">
            <a style="text-decoration: none;" class="col-lg-4 m-2" asp-controller="User" asp-action="Reservations">
                <div class="user-panel">
                    <h5>Moje rezerwacje</h5>
                </div>
            </a>
            <a style="text-decoration: none;" class="col-lg-4 m-2" asp-action="Index">
                <div class="user-panel">
                    <h5>Lista sal</h5>
                </div>
            </a>
            <a style="text-decoration: none;" class="col-lg-3 m-2" asp-action="Account">
                <div class="user-panel">
                    <h5>Moje konto</h5>
                </div>
            </a>    
        </div>
    </div>
</div>
