@model Clavis.Models.User 

<h3 style="color:#eee" class="text-center">Witaj @ViewBag.Imie</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-4 user-panel">
            Moje rezerwacje
        </div>
        <div class="col-lg-4 user-panel">
            Lista sal
        </div>
        <div class="col-lg-4 user-panel">
            Moje konto
        </div>
    </div>
</div>