/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;    
}

.header {
    background-color: #e5e5e5;
}

/* Provide sufficient contrast against white background */
a {
  color: #eee;
}

.btn-primary {
  color: #eee;
  background-color: #eee;
  border-color: #eee;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #eee;
  background-color: #eee;
  border-color: #eee;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #22223b;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #4a4e69;
}

.login-field
{
    margin-left : auto;
    margin-right : auto;
}

.login-field label {
    margin-right: 10px;
    color: #e5e5e5;
}

.login-input {
    background-color: #bfc0c0;
    border: none;
    color: #111;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.login-box {
    border : 1px solid #fff;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.login-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #bfc0c0;
    border: none;
    color: #111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.login-button-home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #bfc0c0;
    border: none;
    color: #111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.filter-box 
{
    background-color: #4a4e69;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #fff;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.room-list-box {
    background-color: #4a4e69;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #fff;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.filter-options 
{
    color: #e5e5e5;
}

.numer-filter 
{
    background-color: #bfc0c0;
    border: none;
    color: #111;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.4);
    width : 200px;
}

.filter-options label 
{
    margin-right: 10px;
    color: #e5e5e5;
}

.box-title h2
{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #e5e5e5;
}


