<div class="container">
    <div class="acc-box ">
        <div class="acc-info">
            <h5>Imię : @Model.Imie</h5>
            <h5>Nazwisko : @Model.Nazwisko</h5>
            <h5>Email : @Model.Email</h5>
        </div>
        <div class="acc-functions">
            <a asp-controller="User" asp-action="changePassword" >Zmień hasło</a>
        </div>
    </div>
</div>