
<div class="container">
    <h3 style="color:#eee" class="mt-5 mb-5 text-center">Panel zarządzania</h3>

    <div class="container mb-5">
        <div class="row">
            <a style="text-decoration: none;" class="col-lg-4 m-2" asp-controller="Manager" asp-action="Users">
                <div class="user-panel">
                    <h5>Użytkownicy</h5>
                </div>
            </a>          
            <a style="text-decoration: none;" class="col-lg-4 m-2" asp-controller="Manager" asp-action="Reservations">
                <div class="user-panel">
                    <h5>Rezerwacje</h5>
                </div>
            </a>  
            <a style="text-decoration: none;" class="col-lg-3 m-2" asp-controller="Manager" asp-action="Rooms">
                <div class="user-panel">
                    <h5>Sale</h5>
                </div>
            </a>
        </div>
    </div>
</div>
